<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %} {% endblock %}
    </title>
</head>
<body>

    <h1 style="background-color: darkgreen; color: white; text-align: center;">Pildoras informáticas</h1>

    {% include "superior/barra.html" %}

    <h3 style="text-align: center;">Cursos de programación ofimática y diseño web</h3>

    {% block content %} 
    
    {% endblock %}

    <p style="background-color: darkgreen; color: white; text-align: center;">Cursos gratuitos gracias por su visita</p>

    
</body>
</html>